/*	INDEX
	====================================== */

	/*

	- Base
	- Layout
	- Question
	- Media Queries
	

	*/




/*	Base
	======================================= */

	html {
		color: #636363;
		font-weight: 1em;
		line-height: 1.4;
	}

	body {
		font-family: "proxima-nova";
		font-weight: 300;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #2e2e2e;
		font-family: "abril-display";
		font-style: italic;
	}

	h1,
	h2,
	h3 {
		font-weight: 800;
	}

	h4,
	h5,
	h6 {
		font-weight: 400;
	}

	h1 {
		font-size: 3.25em;
	}

	p, button, ul {
		font-size: 1.125em;
	}

	a {
		color: #ea3b4f;
		text-decoration: none;
	}

/*	Layout
	======================================= */

	.container {
		background-color: #f7f7f2;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.inner {
		margin: 3.75em auto;
		max-width: 32.5em;
		width: 90%;
	}

/*	Question
	======================================= */

	.question {
		font-weight: 400;
		font-size: 2em;
	}

	.options-list {
		list-style-type: none;
		padding: 0;
	}

	.options-list__item {
		margin: 0.625em 0;
	}

	.options-list__item input[type="radio"] {
		position: absolute;
		width: 0.875em;
		height: 0.875em;
		margin: 0.3125em 0;
		/*opacity: 0;*/
	}

	.options-list__item label {
		position: relative;
		margin: 0 0 0 1.25em;
		vertical-align: top;
		display: inline-block;
	}

/*	Media Queries
	======================================= */

	/* Medium and large screens, min-width: 840px */

	@media only screen and (min-width: 52.5em) {

		.inner {
			margin-left: 10.625em;
			margin-top: 10.625em;
		}
		
	}
